* {
   
   font-family: 'montserrat', sans-serif;
}
.section-title { 
   font-family: 'montserrat', sans-serif;
   color: #08526d;
   font-weight: bold;
   padding-bottom: 2rem;
}

.navbar{
   background-color: #08526d;
   font-family: 'montserrat', sans-serif;
   font-size: 1rem;
   min-height: 75px;
}
.navbar-brand {
   font-weight: bold;
}
.navbar-toggler {
   padding: .1rem 0.3rem;
}
.navbar-toggler:focus {
   box-shadow: 0 0 0 .05rem;
}
/**************/
.back {
   margin-top: 75px;
   background-image: url(../images/1.jpg);
   height: 18rem;
   background-size: cover;
   background-position: center;
}
.overlay {
   background-color: rgba(1, 1, 1, 0.42);
   height: 100%;
   color: #fff;
}
.branchs {
   padding-top: 6rem;
   padding-bottom: 6rem;
   /*   background-image:url(../images/intersection.png);*/
   background-color: #fafafa;
}
.branchs .card {
   color: #494343;
   text-decoration: none;
   box-shadow: 0px 0 10px rgb(212, 211, 211);
}

.branchs .card-title {
   color: #eee;
   text-shadow: 0px 0 3px #160063;
   text-align: center;
   font-size: 2em;
}
/*    for branch page   */
.branch-back {
   margin-top: 75px;
   background-image: url(../images/cairo.jpg);
   height: 18rem;
   background-size: cover;
   background-position: center;
}
.rooms {
   padding-top: 6rem;
   padding-bottom: 6rem;
   /*   background-image:url(../images/intersection.png);*/
   background-color: #fafafa;
}
.rooms .card {
   color: #494343;
   text-decoration: none;
   box-shadow: 0px 0 10px rgb(212, 211, 211);
}

.rooms .card-title {
   color: #eee;
/*   text-shadow: 0px 0 3px #160063;*/
   text-align: center;
   font-size: 2em;
}
/*     start footer     */
.footer {
   margin-top: 6em;
   background-color: #08526d;
/*   background-image: url('../images/subtle_zebra_3d.png');*/
   box-shadow: 0px 0px 7px rgb(144, 144, 144);
}
.footer span{
   color: #cb4412;
   font-weight: bold;
}




